<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer >
  <div  class ="p-12 bg-zinc-700 shadow-sm text-green">
    <div class="max-w-7xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
        <div class="mb-5 text-yellow-600">
          <h4>Shopping with us</h4>
          <ul>
            <li>Contact Us</li>
            <li>Returning items</li>
            <li>Student Discount</li>
          </ul>
        </div>
        <div class="mb-5 text-yellow-600">
          <h4>Legal</h4>
          <ul>
            <li>Accessibility</li>
            <li>Cookie Policy</li>
            <li>Manage Cookies</li>
            <li>Privacy Notice</li>
            <li>Terms & Conditions</li>
          </ul>
        </div>
        <div class="mb-5 text-yellow-600">
          <h4>About</h4>
          <ul>
            <li>About us</li>
            <li>Bookstore app</li>
          </ul>
        </div>
        <div class="mb-5 text-yellow-600">
          <h4>Follow Us</h4>
          <ul>
            <li>
              <a href="#" class="circle-button bg-blue-500">
                <i class="fa fa-facebook text-white"></i>
              </a>
            </li>
            <li>
              <a href="#" class="circle-button bg-blue-500">
                <i class="fa fa-twitter text-white"></i>
              </a>
            </li>
            <li>
              <a href="#" class="circle-button bg-red-600">
                <i class="fa fa-youtube text-white"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="w-full bg-zinc-700 text-gray px10">
    <div class="max-w-7xl flex flex-col sm:flex-row py-4 mx-auto justify-between items-center">
      <div class="text-center">
        <div>
          Copyright
        </div>
        <div>
          Designed by
        </div>
      </div>
    </div>
  </div>
</footer>