 <div   class = "h-screen  w-screen flex justify-center ">
  <mat-card class = "max-w-52 max-h-72">
  <mat-card-title>
    Login
  </mat-card-title>

  <mat-card-content class="">
    <form 
    (ngSubmit)="login()" 
     class="w-full">
      <p>
        <mat-form-field class= "w-full">
          <input  type="email" name="email" ngModel email matInput placeholder="Email" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class ="w-full">
          <input type="password" matInput placeholder="Password" formControlName="password" >
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="flex button justify-end">
        <button type="submit"  mat-button>Submit</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
</div>