.form-container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  place-content: center;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}


.page-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 63%;
}

mat-form-field {
  width: 300px;
}

mat-card-title {
  align-self: center;
  padding-bottom: 10px;
}

mat-card {
  padding: 10px 10px;
  align-self: center;
  width: 30%;
}

button {
  margin-right: 10px;
}
