<mat-card 
class = "w-1/2 w-screen">
    <mat-card-title>Login</mat-card-title>
<mat-card-content class="">
<form (ngSubmit)="submit()" class="w-full">
  <p>
    <mat-form-field class= "w-full">
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class ="w-full">
      <input type="password" matInput placeholder="Password" formControlName="password" >
    </mat-form-field>
  </p>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  <div class="flex button justify-end">
    <button type="submit"  mat-button>Login</button>
  </div>

</form>
</mat-card-content>
</mat-card>