<div class="page-wrapper">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <p>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="loginForm.controls.email.invalid">
              {{invalidFormMsg(loginForm.controls.email)}}
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="loginForm.controls.password.invalid">
              {{invalidFormMsg(loginForm.controls.password)}}
            </mat-error>
          </mat-form-field>
        </p>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Login</button>
          <button mat-raised-button color="primary" (click)="navigateToRegister()">Register</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
